adapter_transformers==3.2.1.post0
datasets==2.18.0
gymnasium==1.0.0
matplotlib==3.10.1
networkx==3.3
numpy==2.2.3
optuna==4.2.1
pandas==2.2.3
PyYAML==6.0.1
PyYAML==6.0.2
seaborn==0.13.2
sentence_transformers==2.4.0
stable_baselines3==2.5.0
torch==2.3.1
torch_geometric==2.6.1
torchsummary==1.5.1
torchvision==0.18.1
tqdm==4.66.3
transformers==4.48.3
